<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Terms and Condition</title>
    </head>
    <body>
        <h1>Terms and Condition</h1>
        <p>Welcome to our application. Please read the terms and conditions carefully</p>
        <ul>
            <li>Your data will be stored in your browser's local storage</li><br>
            <li>We do not share your information</li><br>
            <li>Use the application responsibly</li><br>
            <li>By registering you agree these terms</li>
        </ul>
        <p><a href="file:///C:/Users/julij/OneDrive/Desktop/Task%201/register.html">Back to Registration</a></p>

    </body>
</html>